.header{
    background-color: #b80000;
}

.category{
    margin-left: 15px;
}

.box{
    width: 500;
    height: 500;
    border-style: dashed;
}

.top{
    margin-top: 15px;
}

.bestReadNumber{
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    color: #b80000;     
}
a{
    text-decoration: none;
}